@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
body,html{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5 ;
    background-image: url("./images/play_quiz_bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    overflow-x: hidden;
}

.question{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    padding: 2%;
    font-size: 2em;
}

.question_no{
    color: #1238bf;
}

.next{
    display: flex;
    justify-content: flex-end;
}

.next span{
    background-color: 1238bf;
    color: #fff;
    padding: 1%;
    margin:1vw;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px -4px 0px 0px inset;
    cursor: pointer;
}

.play_quiz_timer,.play_quiz_answers{
    width: 23vh;
    height: 23vh;
    border-radius: 50%;
    background-color:#f5f5f5;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_image{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}

.question_image img{
    width: 30vw;
    height: 30vh;
}

.options{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.options .row{
    display: flex;
    flex-direction: row;
}

.options .option{
    width: 45vw;
    min-height: 11vh;
    margin:0 2.5vw 0 2.5vw;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5% 0 1.5%;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px -4px 0px 0px inset;
    cursor: pointer;
}
.option1{
    background-color: rgb(208, 25, 55);
}
.option2{
    background-color: rgb(18, 96, 190);;
}
.option3{
    background-color: rgb(199, 146, 0);
}
.option4{
    background-color: rgb(35, 126, 11);
}

.option_img{
    width: 20%;
    height: 100%;
}

.option_text{
    width:60%;
    padding: 5%;
}
.option_check{
    border-radius: 50%;
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.option_check i{
    color: #fff;
    display: none;
}


@media screen and (max-width:576px){
    .question{
        font-size: 1.3em;
    }
    .next span{
        padding: 2%;
        margin: 2vw;
    }
    .question_image{
        margin-top: 6vh;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }
    .question_image img{
        width: 80vw;
        height: 40vh;
    }
    .options{
        margin-top: 6vh;
    }
    .options .row{
       flex-direction: column;
    }
    .option_img{
        width: 30%;
        height: 11vh;
    }
    .option_text{
        width: 40%;
        padding: 5%;
    }
    .options .option{
        width: 96vw;
        min-height: 11vh;
        margin:0 1vw 2vh 1vw;
    }   
}